[submodule "temporal"]
	path = temporal
	url = git@github.com:instaclustr/temporal.git
	branch = cass-address-translation
[submodule "tctl"]
	path = tctl
	url = https://github.com/temporalio/tctl
	branch = main
